.collapse-btn-position {
  position: absolute;
  top: 2px;
  right: 0px;
}

.collapse-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 500;
  border-bottom: 1px solid var(--orange);
  .collapse-title-tab {
    color: var(--gray);
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      color: var(--primary);
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.collapse-title-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  & > * {
    margin-bottom: 0.5rem;
  }
}

.react-grid-item.react-grid-placeholder {
  background-color: var(--primary);
}

.flex-title {
  display: flex;
  align-items: center;

  .title-text {
    padding-right: 8px;
    margin-right: 8px;
    border-right: solid 2px #ccc;
  }

  .btn-actions {
    display: flex;
    position: absolute;
    top: 5px;
    .icon-btn {
      margin-right: 4px;
      border-width: 0px;
    }
  }
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  opacity: 0.5;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay_loading_text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  &::after {
    content: 'Loading';
    animation: overlay-text 3s infinite;
  }
}

.overlay-loader {
  border: none !important;
  display: inline-flex !important;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

@keyframes overlay-text {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.hide-panels {
  visibility: hidden;
  width: 0;
  height: 0;
}

.show-panels {
  visibility: visible;
}
