@import '../../../../../styles//custom_variables';

.menu-item {
  padding: 0.35rem 0.75rem;
  background-color: unset !important;

  &:hover {
    background-color: $dark-blue !important;
  }

  &:active {
    background-color: $dark-blue !important;
  }

  &:focus {
    background-color: $dark-blue !important;
  }
}

.menu-label {
  font-size: 0.8rem;
}

@media all and (max-width: 576px) {
  .menu-item::after {
    display: none !important;
  }
}
