.list-item {
  height: 28px;
  border: 1px solid #fff;
  cursor: pointer;

  & > * {
    cursor: pointer;
  }

  & button {
    display: none;
  }

  &:hover {
    background-color: lightgray;
    border-color: #f1f1f1;
  }

  &:hover .icon-btn {
    display: block;
  }

  &.selected {
    background-color: lightgray;
  }
}
