.table {
  margin-bottom: 0;

  th,
  td {
    font-size: 0.875rem;
    padding: 4px 16px;
  }

  thead {
    background-color: $light-gray;

    th {
      font-weight: 400;
      line-height: 30px;
      vertical-align: bottom;
      border-bottom: $table-border-width solid $table-border-color;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $light-gray;
      }
    }
  }
}
