@import '../../../../styles/custom_variables';

.confirm-modal-header {
  background-color: $blue;
  color: white;

  .modal-title {
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    & .icon-container {
      width: 30px;
      height: 30px;
      background-color: white;

      & i {
        font-size: 1.5rem;
        line-height: 1.5rem;

        &::before {
          color: $blue;
        }
      }
    }
  }

  .modal-body {
    font-size: 0.9rem;
  }
}
