.cause-effect-table {
  $col-padding: 4px;

  tr {
    background-color: #fff;
  }
  
  th,
  td {
    font-size: small !important;
  }

  thead {
    td {
      border-bottom-width: 1px !important;
    }
  }

  .merged-row {
    color: var(--danger);
    text-decoration: line-through;
  }

  .cause-effect-wrapper {
    position: relative;
    min-width: 70px;
    padding: 0;
  }
  .cause-effect-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    cursor: -webkit-grab;
    cursor: grab;

    ._cause-effect-node {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-word;
      min-width: $col-padding * 10;
      padding: $col-padding $col-padding * 2;
    }

    .cause-effect-node {
      @extend ._cause-effect-node;
    }

    .cause-id {
      color: var(--white);
      background-color: var(--primary);
    }

    .effect-id {
      color: var(--white);
      background-color: var(--success);
    }

    .merged-id {
      @extend ._cause-effect-node;
      background-color: var(--light-gray);
    }
  }

  .delete-icon {
    color: #808080;
  }

  .icon-btn.delete-icon:hover {
    color: #dc3545;
  }
}
